@import "footer.css";
@import "header.css";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li {
    list-style-type: none;
}

html,
body {
    min-height: 100%;
    color: #000000;
}

body {
    line-height: 1;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
}

.main {
    flex: 1 1 auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*===========================*/
[class*="__container"] {
    max-width: 1321px;
    margin: 0 auto;
    padding: 0 15px;
}

[class*="__button"] {
    font-size: 18px;
    font-weight: bold;
    width: auto;
    height: auto;
    padding: 15px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
    background-color: #03c381;
    border-radius: 10px;
}

[class*="__button"]:hover {
    background-color: #02b27f;
    transition: all .4s ease;
    cursor: pointer;
}

/*===========================*/