@import "general.css";

.registration {
    position: relative;
    min-height: 100vh;
}

.registration__container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.registration-form-title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 37px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 100%;
    padding: 25px;
    justify-content: start;
}

.registration-form-item {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 350px;
    gap: 5px;
}

.subscribe-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subscribe-item input {
    width: auto;
}

.registration-form-item input {
    border: rgba(67, 62, 62, 0.38) solid 1px;
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    cursor: pointer;
}

.registration-form-item label {
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: space-between;
    width: 100%;
}

.animal {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    cursor: pointer;
    font-size: 18px;
    height: 200px;
}