$main-color:rgb(238, 239, 241);;
$secondary-color-text: #34547A;
$secondary-color: rgb(52, 84, 122);
$main-color-text: rgb(114, 114, 114);
$font-main-size: 16px;
$font-title-size-small: 32px;
$font-title-size-large: 48px;
$main-color-background--hover-bottom: #2e4e75;
$main-color-text-bottom: #fbfaff;
