* {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: clamp(16px, 15vw, 200px);
  padding-left: clamp(16px, 15vw, 200px);
}
header,
footer {
  display: flex;
  background-color: #a082c1;
  color: #e1d9ea;
  font-size: 20px;
  font-weight: bold;
}
header ul li, footer ul li {
  list-style: none;
  cursor: pointer;
  border-bottom: 1px solid #a082c1;
}
header ul li:hover {
  border-bottom: 1px solid #e1d9ea;
}
.questions-list {
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1; /* Це змушує main займати весь простір між header і footer */
}
.questions {
  font-size: 16px;
  font-weight: bold;
}
.button-up {
  background: #a082c1;
  border-color: #b5a1ca;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #e1d9ea;
}
.button-up:disabled {
    background-color: #434040;
    border-color: #999;
    opacity: 0.7;
}
.button-up:hover {
  background: #9a77bf;
  border-color: #701fc5;
}
.button-up:disabled:hover {
    background-color: #434040;
    border-color: #999;
}