@import "general.css";

.contacts-page {
    position: relative;
    min-height: 100vh;
}

.contacts-page__container {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
}

.contacts-page-info,
.work-schedule,
.delivery-info,
.feedback-info,
.feedback-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 37px;
    gap: 15px;
}

.contacts-page-title,
.work-schedule h2,
.feedback-info h2,
.contact-form-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.contacts-page-info-address ul,
.work-schedule ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts-page-info-address li,
.work-schedule li {
    font-weight: bold;
}

.feedback {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 450px;
}

.contact-form-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    row-gap: 15px;
    font-weight: bold;
}

.contact-form-text textarea {
    resize: none;
    width: 67%;
    border-radius: 10px;
    padding: 5px;
}

.form-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 50px;
    gap: 10px;
    font-weight: bold;
}

.form-item input{
    border-radius: 10px;
    padding: 5px;
    align-items: center;
    display: flex;
}

