* {
    padding: 0;
    margin: 0;
}

html,
body {
    min-height: 100%;
    background-color: #dddddd;
}

.body {
    width: 1199px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

main {
    height: 800px;
    width: 800px;
    margin-left: 10px;
}

[class*="__container"] {
    width: 100%;
    height: 100px;
}

[class*="__item"] {
    border: 1px solid #000000;
    background-color: #2f6350;
    height: 100%;
    box-sizing: border-box;
}

[class*="__task"]::before,
[class*="__task"]::after {
    content: "";
    display: block;
    clear: both;
}

.layout-left-right__task,
.layout-left-multi-right__task,
.split-layout-two-two__task,
.layout-triple-right__task,
.layout-triple-center__task {
    height: 100%;
    border: black 1px solid;
    box-sizing: content-box;
    padding: 5px;
}

/*<=============================>*/
.layout-left-right__item {
    float: left;
    width: 25%;
}

.layout-left-right__task .move {
    margin-right: 50%
}

/*<=============================>*/
.layout-left-multi-right__item {
    float: left;
    width: 15%;
}

.layout-left-multi-right__task .move {
    margin-right: 38.5%

}

.layout-left-multi-right__task .right {
    margin-left: 0.5%
}

/*<=============================>*/
.layout-two-two__item {
    float: left;
    width: 15%;
}

.split-layout-two-two__task .move {
    margin-right: 39%;
    margin-left: 0.5%;

}

.split-layout-two-two__task .right {
    margin-right: 0.5%;

}

/*<=============================>*/
.layout-triple-right__item {
    width: 15%;
    float: left;
}

.layout-triple-right__task .first {
    margin-left: 69.5%;
    margin-right: 0.5%;
}

.layout-triple-right__task .move {
    margin-bottom: 1.2%;
}

.layout-triple-right__task .move,
.layout-triple-right__task .right {
    height: 45%;
}

/*<=============================>*/
.layout-triple-center__item {
    width: 15%;
    float: left;
}

.layout-triple-center__task .first {
    margin-left: 33%;
    margin-right: 0.5%;

}
.layout-triple-center__task .right{
    margin-right: 33%
}
.layout-triple-center__task .move {
    margin-bottom: 1.2%;
}
.layout-triple-center__task .move,
.layout-triple-center__task .right {
    height: 45%;
}