:root {
    --main-color: rgb(238, 239, 241);
    --secondary-color-text: #34547A;
    --secondary-color: rgb(52, 84, 122)

}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    background: var(--main-color);
    font-family: Roboto, sans-serif;
    height: 100vh;
}

[class*="__container"] {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    padding-inline: 17%;
    margin: 0 auto;
}

@media (max-width: 219px) {
    [class*="__container"] {
        padding-inline: 0;
    }
}

[class*="__description"] {
    max-width: 540px;
    color: rgb(114, 114, 114);
    line-height: 26px;
}

[class*="__title"] {
    font-size: 32px;
    font-weight: 500;
}

.works__title--center,
.works__description--centre,
.about-me__title--center,
.about-me__description--centre {
    margin-inline: auto;
    text-indent: 30px;
    text-align: center;
}

.works__title--center,
.about-me__title--center {
    padding-bottom: 50px;
}

/*<=============================================>*/
.header__container {
    padding-block: 79px;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
}

.menu li:hover {
    color: var(--secondary-color-text);
    font-weight: 500;
    cursor: pointer;
}

.menu li {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    min-width: 100px;
}

/*<=============================================>*/

.first-screen__container {
    padding-block: 62px 141px;
}

.first-screen__title {
    font-size: 48px;
}

.first-screen__description {
    padding-block: 60px;
}

.first-screen__button {
    text-transform: uppercase;
    background-color: var(--secondary-color);
    max-width: 225px;
    color: white;
    border: none;
    letter-spacing: 0.1em;
    padding-inline: 41px;
    padding-block: 19px 21px;
}

.first-screen__button:hover {
    transition: all .25s ease;
    background-color: var(--secondary-color);
}

/*<===============================================>*/
.about-me__container {
    background: rgb(249, 249, 249);
    padding-block: 112px 100px;
    margin: 0 auto;
}

/*<===============================================>*/

.numbers__container {
    background: var(--secondary-color);
    color: white;
    padding-block: 100px;
}

.numbers-block {
    max-width: 1110px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 141px));
    grid-auto-rows: 50px;

    justify-content: space-between;
    gap: 28px;
}

.numbers__item {
    background: left no-repeat url("../image/numbers.svg");
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    background-size: contain;
    padding-block: 0;
}

.numbers__item--project {
    font-weight: 500;
    font-size: 21px;
}

/*<===============================================>*/

.works__container {
    padding-block: 100px 57px;
    padding-inline: 0;
}

/*<===============================================>*/

.video__container {
    min-height: 700px;
    padding-bottom: 100px;
}

.video-content {
    max-width: 1110px;
    position: relative;
    min-height: 600px;

}

.video__container iframe {
    width: 100%;
    min-height: 600px;
    border: none;
    position: absolute;

}

/*<===============================================>*/
.footer__container {
    background-color: var(--secondary-color);
    color: white;
    padding-block: 49px 49px;
}

.footer--fullname {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 19px;
    max-width: 1110px;

}

.footer--description {
    font-size: 13px;
}