body {
    background-color: #cccccc;
}

div {
    background-color: #03c381;
}

.color {
    background-color: red;
}

#color {
    background-color: #031dc3;
}

a[title*="pink"] {
    background-color: pink;
}

div h2 {
    background-color: yellow;
}

section > h2 {
    background-color: #ff00a6;
}

h2 ~ p {
    background-color: #034730;
}

.color-red {
    background-color: red;
}

.color-red p {
    background-color: #031dc3;
}

.color-red span + p {
    background-color: #ff00a6;
}